.block-chart {
	padding: 25px 29px;
	background-color: #fff;
	.learing-title {
		margin-bottom: 20px;
	}
}
.chart {
	width: 100%;
	position: relative;
	&:before {
		content: '';
		display: block;
		z-index: 0;
		width: 100%;
		height: 200px;
		position: absolute;
		top: 0;
		left: 0;
		background: #f6f6f6;
	}
	.chart-list {
		position: relative;
		left: 0;
	}
	.wrap-chart {
		overflow: hidden;
	}
	ul {
		font-size: 0;
		border: none;
		li {
			font-size: 12px;
			line-height: 15px;
			box-sizing: border-box;
			border: none;
			text-align: center;
			color: #999999;
			&.active,
			&:hover,
			&:focus {
				a {
					border: none;
					background: transparent;
					&:hover,
					&:focus {
						border: none;
						background-color: transparent;
					}
					.text {
						background: #ff6045;
						color: #fff;
						margin-bottom: 2px;
					}
				}
			}
			&.active {
				a {
					span {
						&.fill {
							.percent {
								background: #33abe5;
							}
						}
					}
				}
			}
			&:nth-child(odd) {
				&.active {
					a {
						span {
							&.fill {
								.percent {
									background: #33abe5;
								}
							}
						}
					}
				}
				a {
					span {
						&.fill {
							.percent {
								// background: #ebebeb;
							}
 						}
					}
				}
			}
			a {
				color: #999999;
				border: none;
				margin: 0;
				padding: 0;
				border: none;
				outline: none;
				margin: 0 auto;
			}
			span {
				display: inline-block;
				&.fill {
					max-width: 28px;
					width: 100%;
					height: 200px;
					position: relative;
					.percent {
						background: #d5d5d5;
					}
				}
				&.percent {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
				&.text {
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					padding: 2px 7px 1px 7px;
				}
			}
		}
	}
	.tbl {
		display: table;
		.tbl-cell {
			display: table-cell;
			vertical-align: bottom;
		}
	}
	.button-chart {
		width: 35px;
		height: 35px;
		border: none;
		background: transparent;
		position: absolute;
		top: 70px;
		&.disable {
			&:after {
				opacity: 0.5;
			}
		}
		&.button-next {
			right: -15px;
			top: 100px;
		}
		&.button-prev {
			left: -15px;
			&:after {
				-ms-transform: rotate(180deg);
		    -webkit-transform: rotate(180deg);
		    transform: rotate(180deg);
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 26px;
			height: 26px;
			top: 4px;
			left: 4px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #fff url(../images/icon-arrow.png) no-repeat center center;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
		}
	}
}
.block-chart {
	.tab-content {
		padding: 39px 0 0 0;
	}
	h3 {
		font-size: 14px;
		line-height: 16px;
		margin: 0;
		text-align: left;
		padding: 14px 0 13px 26px;
		position: relative;
		background: #404040;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		&:after {
			content: '';
			width: 26px;
			height: 28px;
			position: absolute;
			top: 50%;
			margin-top: -14px;
			right: 13px;
			background: url(../images/icon-date.png) no-repeat;
		}
	}
	.tab-content {
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		text-align: center;
		table {
			width: 100%;
			@media only screen and (max-width: 991px) {
				thead {
					display: none;
				}
			}
			&.border-radius {
				-webkit-border-radius: 0px;
				-webkit-border-bottom-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius: 0px;
				-moz-border-radius-bottomright: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-radius: 0px;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
		th {
			background: #33abe5;
			font-weight: normal;
			text-align: center;
			padding: 14px 10px 13px 10px;
			border-left: 1px solid rgba(255, 255, 255, 0.5);
			width: percentage(0.25);
			&:first-child {
				border-left: none;
			}
		}
		.tbl {
			max-height: 130px;
			overflow: auto;
		}
		tbody {
			tr {
				&:first-child {
					td {
						border-top: none;
					}
				}
			}
		}
		td {
			width: percentage(0.25);
			background: #87c52e;
			border-left: 1px solid rgba(255, 255, 255, 0.5);
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			padding: 10px 10px 11px 10px;
			&:first-child {
				border-left: none;
			}
		}
		a {
			font-size: 11px;
			line-height: 13px;
			background: #fff;
			padding: 5px 12px 4px 12px;
			color: #666666;
			-webkit-border-radius: 11px;
			-moz-border-radius: 11px;
			border-radius: 11px;
			display: inline-block;
			@media screen and (max-width: 767px) {
				width: 23px;
				height: 25px;
				overflow: hidden;
				padding: 0;
				background: url(../images/icon-file.png) no-repeat;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				span {
					display: none;
				}
			}
		}
	}
}
.custom-scroll {
	.mCSB_inside {
		> .mCSB_container {
			margin-right: 0;
		}
	}
	.mCSB_scrollTools {
		opacity: 1;
		width: 13px;
		right: 4px;
		.mCSB_draggerRail {
			background: transparent;
		}
		.mCSB_dragger {
			.mCSB_dragger_bar {
				background: #fff;
				width: 13px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
			}
		}
	}
}
