.block-charts.block-charts-tab {
	padding-bottom: 0;
	.chart-list > ul {
		padding-bottom: 25px;
		background-color: #fff;
	}
	.chart-list:before {
		height: 88%;
	}
}
.nav-tabs-charts {
	padding: 0 8px;
	margin: 31px 0 0 0;
	background: url(../images/bg-tabs.png) repeat-x bottom;
	> li {
		width: 50%;
		padding: 0 8px;
		&.active {
			a {
				border: 1px solid #ebebeb;
				border-bottom: 1px solid transparent;
				font-weight: bold;
				-webkit-box-shadow: 0px -7px 13px 0px rgba(0,0,0,0.05);
				-moz-box-shadow: 0px -7px 13px 0px rgba(0,0,0,0.05);
				box-shadow: 0px -7px 13px 0px rgba(0,0,0,0.05);
			}
		}

		> a {
			display: table;
			width: 100%;
			height: 45px;
			padding: 0;
			font-size: 14px;
			line-height: 17px;
			color: #333333;
			text-align: center;
			&:focus {
				background: transparent;
			}
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
.block-charts {
	.tab-content-charts {
		background: #fff;
		padding: 10px 0 0 0;
		.chart-list {
			margin: 0;
		}
	}
}
