.teacher-blog {
	font-family: 'Roboto', sans-serif;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 44px 0 25px 0;
	.learing-title {
		padding: 0 32px;
	}
}
.list-blogs {
	position: relative;
	margin: 18px 0 0 0;
	.col-blog {
		padding: 0 32px;
		border-left: 1px solid #ebebeb;
		&:first-child {
			border: none;
		}
	}
	.highlight-blog {
		width: percentage(0.48571);
		img {
			width: 100%;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		.img {
			display: block;
			line-height: 0;
		}
	}
	h4 {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #333333;
		margin: 0;
		padding: 21px 0 0 0;
		a {
			color: #333333;
		}
	}
	.desc {
		color: #999999;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		padding: 12px 0 0 0;
	}
	.like-comments {
		color: #999999;
		font-size: 0;
		text-align: left;
		padding: 24px 0 0 0;
		margin: 0;
		li {
			font-size: 14px;
			line-height: 17px;
			list-style: none;
			display: inline-block;
			margin: 0 0 0 14px;
			position: relative;
			&:first-child {
				margin: 0;
				&:after {
					content: '';
					width: 1px;
					height: 14px;
					background: #ebebeb;
					position: absolute;
					top: 2px;
					right: 0;
				}
			}
		}
		.icon-like {
			padding: 0 14px 0 21px;
			background: url(../images/icon_like.png) no-repeat 0 2px;
		}
		.icon-comment {
			padding: 0 14px 0 22px;
			background: url(../images/icon_comment.png) no-repeat 0 2px;
		}
	}
	.more-blogs {
		width: percentage(0.51429);
		.item {
			display: table;
			width: 100%;
			margin: 14px 0 0 0;
			&:first-child {
				margin: 0;
			}
		}
		.like-comments {
			padding: 12px 0 0 0;
		}
		.img {
			display: table-cell;
			vertical-align: middle;
			width: 150px;
			img {
				width: 100%;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
		}
		.info {
			display: table-cell;
			vertical-align: middle;
			width: calc(100% - 150px);
			padding: 0 0 0 22px;
		}
		h4 {
			padding: 0;
		}
	}
	.btn-more {
		text-align: right;
		padding: 25px 0 0 0;
		a {
			display: inline-block;
			font-size: 11px;
			line-height: 14px;
			color: #666666;
			border: 1px solid #cccccc;
			padding: 3px 14px 3px 14px;
			-webkit-border-radius: 11px;
			-moz-border-radius: 11px;
			border-radius: 11px;
			-webkit-transition: 0.15s linear;
	    -moz-transition: 0.15s linear;
	    -ms-transition: 0.15s linear;
	    -o-transition: 0.15s linear;
	    transition: 0.15s linear;
			&:hover {
				color: #309ace;
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.teacher-blog {
		padding: 23px 0 29px 0;
		.learing-title {
			padding: 0;
			text-align: center;
		}
	}
	.list-blogs {
		padding: 0 9px;
		.highlight-blog,
		.more-blogs {
			width: 100%;
			padding: 0;
		}
		.highlight-blog {
			.like-comments {
				text-align: center;
			}
		}
		.col-blog {
			border-left: none;
			border-top: 1px solid #ebebeb;
		}
		.more-blogs {
			padding: 27px 0 0 0;
			margin: 19px 0 0 0;
			h4 {
				font-size: 14px;
				line-height: 17px;
			}
			.info {
				padding: 0 0 0 13px;
				width: calc(100% - 130px);
			}
			.img {
				width: 130px;
			}
		}
		.btn-more {
			padding: 27px 0 0 0;
			text-align: center;
			a {
				font-size: 14px;
				padding: 6px 26px 7px 26px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
		}
	}
}
