.block-charts {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 15px 0 32px;
  position: relative; }
  .block-charts .flag {
    width: 60px;
    position: absolute;
    top: -4px;
    left: 15px; }
    .block-charts .flag > img {
      max-width: 100%; }
  .block-charts > .inner {
    overflow: hidden; }
  .block-charts .item-left {
    float: left; }
  .block-charts .item-right {
    float: right; }
  .block-charts .chart-title {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-left: 90px; }
  .block-charts .chart-button {
    text-align: center; }
    .block-charts .chart-button a {
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      background-color: #ff6045;
      border-radius: 5px;
      padding: 8px 17px;
      min-width: 220px;
      transition: opacity .3s linear;
      font-family: "Roboto-Medium"; }
      .block-charts .chart-button a:hover {
        opacity: .7; }
  .block-charts .chart-list {
    margin-top: 30px;
    position: relative; }
    .block-charts .chart-list:before {
      content: "";
      position: absolute;
      top: 30px;
      left: 26px;
      width: 1px;
      height: 80%;
      background-color: #ebebeb;
      z-index: 1; }
    .block-charts .chart-list > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden; }
      .block-charts .chart-list > ul li {
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
        padding: 7px 15px;
        background-color: transparent;
        transition: background-color .3s linear; }
        .block-charts .chart-list > ul li:hover {
          background-color: #fff; }
        .block-charts .chart-list > ul li .no {
          background-color: #404040; }
        .block-charts .chart-list > ul li:first-child .chart-item .avt {
          background-color: #ff6045; }
        .block-charts .chart-list > ul li:first-child .no {
          background-color: #ff6045; }
        .block-charts .chart-list > ul li:nth-child(2) .no {
          background-color: #a4d361; }
        .block-charts .chart-list > ul li:nth-child(3) .no {
          background-color: #33abe5; }
  .block-charts .point {
    text-align: right;
    margin-top: 6px; }
    .block-charts .point span {
      font-size: 14px;
      display: block; }
    .block-charts .point .user-button {
      font-size: 10px;
      color: #fff;
      background-color: #33abe5;
      min-width: 94px;
      padding: 4px 6px;
      font-family: "Roboto-Medium";
      border-radius: 5px; }
  .block-charts .chart-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px; }
    .block-charts .chart-item.no {
      color: #fff;
      font-size: 14px;
      width: 24px;
      height: 24px;
      text-align: center;
      padding: 2px 0;
      border-radius: 50%; }
    .block-charts .chart-item .avt {
      width: 55px;
      height: 55px;
      background-color: #ebebeb;
      border-radius: 50%;
      text-align: center;
      padding-top: 2px;
      position: relative; }
      .block-charts .chart-item .avt > img {
        border-radius: 50%;
        border: 2px solid #fff;
        vertical-align: middle; }
      .block-charts .chart-item .avt .status {
        position: absolute;
        bottom: 0;
        right: 0; }
        .block-charts .chart-item .avt .status > img {
          width: 18px;
          height: 18px; }
    .block-charts .chart-item.user-name > span {
      display: block; }
  .block-charts .btn-view-more {
    text-align: center;
    margin-top: 10px; }

/*# sourceMappingURL=bxh-1.css.map */
