@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
section {
  @include box-shadow(0px 0px 15px 0px rgba(0,0,0,0.3));
  border-radius: 5px;
}
a:hover {
  text-decoration: none;
}
.gochoctap {
  background-color: #ebebeb;
  section  {
    margin-bottom: 30px;
  }
}
.days-learning {
  display: inline-block;
  border-radius: 30px;
  min-width: 280px;
  color: #fff;
  background-color: #404040;
  padding: 5px 20px;
  img {
    margin-left: 5px;
  }
  > span {
    margin-right: 2px;
  }
  @media only screen and (max-width: 991px) {
    background-color: transparent;
    min-width: 1px;
    .dl-mobile {
      .no {
        left: 45px;
      }
    }
  }
}
.learing-process {
  @media only screen and (max-width: 991px) {
    display: none;
  }
  background-color: #fff;
  padding: 20px 5px 25px 15px;
  text-align: center;
  border-radius: 5px;
  .process-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      // float: left;
      display: inline-block;;
      position: relative;
      @include size(20px, 24px);
      background-color: #ebebeb;
      margin-right: 22px;
      margin-bottom: 35px;
      &:first-child {
        margin-left: 20px;
        > span:first-child {
          left: -35px;
          right: auto;
        }
      }
      .flag {
        position: absolute;
        right: -38px;
        img {
          width: 20px;
        }
      }
      &:nth-child(5n+1) {
        // clear: left;
      }
      &.finish {
        width: 10px;
        background-color: #87c52e;
        &:before {
          border-color: #87c52e;
          border-left-color: transparent;
        }
        &:after {
          border-left-color: #87c52e;
        }
        .point {
          background-color: #87c52e;
        }
      }
      &.not-finish {
        background-color: #33abe5;
        &:before {
          border-color: #33abe5;
          border-left-color: transparent;
        }
        &:after {
          border-left-color: #33abe5;
        }
        .point {
          background-color: #33abe5;
        }
      }
      .point {
        display: block;
        min-width: 32px;
        padding: 4px 7px;
        position: absolute;
        bottom: -30px;
        right: -20px;
        color: #333;
        font-size: 10px;
        border-radius: 20px;
        background-color: #ebebeb;
        font-family: "Roboto-Medium";
      }
      &:before, &:after {
        content: "";
        display: block;
        @include size(0);
        position: absolute;
        top: 0;
      }
      &:before {
        border: 12px solid #ebebeb;
        border-right-width: 12px;
        border-left-color: transparent;
        left: -20px;
      }
      &:after {
        border-left: 12px solid #ebebeb;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        right: -12px;
      }
      .img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media only screen and (max-width: 991px) {
          img {
            max-width: 10px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 992px) {
    padding: 30px 0 20px;
    .process-list li {
      width: 80px;
      height: 40px;
      margin-right: 25px;
      &:before {
        border-width: 20px;
      }
      &:after {
        border-left-width: 20px;
        border-top-width: 20px;
        border-bottom-width: 20px;
        right: -20px;
      }
      &.finish {
        width: 40px;
      }
      .flag {
        right: -60px;
        img {
          width: 28px;
        }
      }
    }
  }
}
.button-link {
  display: block;
  color: #fff;
  background-color: #33abe5;
  text-transform: uppercase;
  padding: 15px 12px;
  text-align: center;
  border-radius: 5px;
  transition: background-color .3s linear;
  margin-bottom: 10px;
  &.style-1 {
    display: inline-block;
    min-width: 70px;
    padding: 8px 12px;
  }
  &:hover {
    color: #fff;
    background-color: #2d96c8;
  }
}
.progress {
  background-color: #ebebeb;
  border-radius: 6px;
  @include size(100%, 30px);
  box-shadow: none;
  overflow: visible;
  margin-top: 30px;
  .progress-bar {
    background-color: #87c52e;
    border-radius: 6px;
    box-shadow: none;
    position: relative;
    .value-min, .value-current {
      display: block;
      position: absolute;
    }
    .value-min {
      bottom: -25px;
      left: 0px;
      color: #333;
    }
    .value-current {
      min-width: 40px;
      padding: 2px 10px;
      border-radius: 20px;
      color: #fff;
      top: -30px;
      right: -15px;
      background-color: #87c52e;
      &:before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        @include size(0);
        border-top: 6px solid #87c52e;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
  }
}
.block-milestone {
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #fff;
  @include box-shadow(0 0 3px 0 rgba(0,0,0,0.3));
  .inner {
    padding: 25px 15px;
    overflow: hidden;
  }
  .name {
    float: left;
    >img {
      @include size(56px);
      border-radius: 50%;
      vertical-align: middle;
    }
    h3 {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding-left: 13px;
      font-size: 15px;
      font-family: "Roboto-Medium";
    }
  }
  .button-link {
    float: right;
    margin-top: 10px;
  }
  &.block-milestone-1 {
    .name {
      float: none;
      text-align: center;
      margin: 15px 0 5px;
    }
    .button-link {
      float: none;
      display: block;
      margin-bottom: 0;
    }
    .progress {
      margin-top: 68px;
    }
  }
  &.block-milestone-1.milestone-finish {
    .button-link {
      position: relative;
      height: 53px;
      padding: 15px 0px 15px 50px;
      font-size: 15px;
      font-family: "Roboto-Bold";
      letter-spacing: -1px;
      > span {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 52px;
        padding: 14px 0;
        text-align: center;
        background-color: #71b200;
        border-radius: 5px;
      }
    }
    .name {
      > img {
        @include size(96px, 81px);
        border-radius: 0;
      }
    }
  }
}
.view-all {
  display: inline-block;
  min-width: 122px;
  font-size: 14px;
  color: #666;
  padding: 7px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}
.learing-title {
  font-size: 25px;
  margin: 0;
  line-height: 1.3;
  .bold {
    font-family: "Roboto-Bold";
  }
  .status {
    display: inline-block;
    min-width: 57px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #ff6045;
  }
}
