@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
.heading-milestone {
  // overflow: hidden;
  margin-bottom: 8px;
  .learing-title {
    float: left;
    max-width: 70%;
    margin: 0;
  }
  .notif {
    float: right;
    position: relative;
    padding: 5px;
    cursor: pointer;
    > img {
      @include size(20px);
      margin-top: 3px;
    }
    .no {
      display: block;
      color: #fff;
      background-color: #e74c3c;
      font-size: 11px;
      @include size(14px);
      border-radius: 50%;
      text-align: center;
      position: absolute;
      right: 2px;
      top: 0;
    }
  }
  .notif-show {
    display: block;
    position: absolute;
    right: 0;
    top: 27px;
    z-index: 1;
    color: #333333;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    &.active {
    	opacity: 1;
    	visibility: visible;
    }
    .notif-list {
      width: 209px;
      font-size: 14px;
      line-height: 17px;
      background: #fff;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
      -webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			// margin: 16px 0 0 0;
			li {
				padding: 10px 15px 9px 15px;
				border-top: 1px solid #e9e9e9;
				&:first-child {
					border-top: none;
				}
				img {
					padding-right: 15px;
				}
			}
    }
    .level {
    	font-size: 12px;
    	line-height: 15px;
    	margin: 0;
      span {
        margin-left: 15px;
      }
    }
  }
}
.milestone-process {
  clear: both;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
  ul {
    list-style: none;
    padding: 0 25px;
    margin: 0;
    li {
      float: left;
      position: relative;
      background-color: #fff;
      height: 40px;
      &:first-child {
        width: 80px;
        margin-right: 35px;
        background-color: #33abe5;
        color: #fff;
        font-size: 16px;
        font-family: "Roboto-Bold";
        padding-top: 8px;
        > span {
          position: relative;
        }
        &:before {
          border-color: #33abe5;
          border-left-color: transparent;
        }
        &:after {
          border-left-color: #33abe5;
        }
      }
      &:last-child {
        width: 125px;
        padding-top: 6px;
        > img, > span {
          display: inline-block;
          vertical-align: middle;
          position: relative;
        }
        > img {
          margin-right: 5px;
        }
        > span {
          font-size: 12px;
          line-height: 1.2;
          font-family: "Roboto-Medium";
        }
      }
      &:before, &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
      }
      &:before {
        border: 20px solid #fff;
        border-right-width: 20px;
        left: -25px;
        border-left-color: transparent;
      }
      &:after {
        border-left: 20px solid #fff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        right: -20px;
      }
    }
  }
}
.milestone {
  padding-top: 10px;
  @media only screen and (min-width: 992px) {
    padding-top: 22px;
  }
  .learing-process {
    clear: both;
    position: relative;
    margin-bottom: 20px;
    .point-close {
      position: absolute;
      top: -11px;
      right: 10px;
    }
  }
  @media only screen and (min-width: 992px) {
    text-align: center;
  }
}
.milestone-desc {
  font-family: "Roboto-Medium";
  background-color: #f6f3d6;
  line-height: 1.3;
  border-radius: 20px;
  padding: 9px 18px;
  text-align: center;
  margin-bottom: 15px;
}
.toeic-milestone {
  background-color: #fff;
  padding: 25px 7px;
  .toeic-milestone-item {
    margin-bottom: 30px;
  }
  .learing-title {
    margin-bottom: 14px;
    div {
      margin-top: 10px;
    }
  }
  .block-milestone {
    > .inner {
      padding-bottom: 15px;
      > img {
        float: right;
        margin-top: 13px;
        margin-right: 10px;
      }
    }
  }
}
.progress-wrapper {
  padding: 0 15px 25px;
  .progress {
    margin-bottom: 2px !important;
  }
}
.progress-wrapper .target {
  font-size: 12px;
  text-align: right;
  font-family: "Roboto-Medium";
  margin-bottom: 0;
  .taget-point {
    font-size: 14px;
  }
  img {
    margin-left: 3px;
  }
  .target-tooltip {
    position: relative;
    > span {
      width: 185px;
      position: absolute;
      right: -12px;
      top: 25px;
      font-size: 10px;
      color: #666;
      padding: 7px;
      text-align: left;
      @include box-shadow(0 0 3px 0 rgba(0,0,0,0.3));
      background-color: #ebebeb;
      z-index: 99;
      display: none;
      &:before {
        content: "";
        position: absolute;
        top: -8px;
        right: 10px;
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ebebeb;
      }
    }
    &:hover {
      > span {
        display: block;
      }
    }
  }
}
.block-milestone.block-milestone-2 {
  .learing-title {
    margin-bottom: 15px;
  }
  .milestone-group {
    .button-link {
      display: block;
    }
    .name {
      text-align: center;
      margin-bottom: 22px;
    }
  }
  .name, .button-link {
    float: none;
  }
}
@media only screen and (min-width: 992px) {
  .learing-title {
    text-align: left;
  }
  .milestone {
    .learing-process {
      margin-top: 45px;
    }
    .days-learning {
      margin-top: -15px;
      margin-right: 15px;
    }
  }
  .block-milestone.block-milestone-1 {
    > .inner {
      padding: 37px 35px;
    }
    .name {
      float: left;
      margin: 35px 35px 0 0;
    }
    .milestone-group {
      overflow: hidden;
      .progress {
        margin: 50px 0 45px;
      }
      .button-link {
        display: inline-block;
        min-width: 212px;
      }
    }
  }
  .block-milestone.block-milestone-2 {
    .learing-title {
      margin-bottom: 35px;
    }
    > .inner {
      padding: 50px 35px;
      > img {
        float: left;
        margin-right: 50px;
      }
    }
    .milestone-group {
      overflow: hidden;
      width: 216px;
      margin: 0 auto;
    }
  }
  .block-milestone.block-milestone-1.milestone-finish {
    text-align: center;
    .name {
      float: none;
      margin: 10px 0 15px;
      > img {
        width: 112px;
        height: 94px;
      }
    }
    .learing-title {
      text-align: center;
    }
    .button-link {
      display: inline-block;
      min-width: 300px;
    }
  }
  .toeic-milestone {
    padding: 40px 26px;
    .learing-title {
      margin-bottom: 20px;
      div {
        float: right;
        margin-top: 0;
      }
    }
    .milestone-desc {
      margin-bottom: 20px;
    }
    .block-milestone {
      // overflow: hidden;
      margin-bottom: 25px;
      margin-left: 10px;
      margin-right: 10px;
      &:hover {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      }
      > .inner {
        padding: 26px 0 26px 30px;
      }
      > .inner, .progress-wrapper, .button-link {
        // float: left;
        display: inline-block;
        vertical-align: middle;
      }
      .name {
        width: 125px;
        margin-right: 35px;
      }
      .progress-wrapper {
        width: 355px;
        // margin-right: 20px;
        margin-top: 10px;
      }
      .button-link {
        width: 95px;
        margin-top: 37px;
        margin-right: 26px;
      }
      .icon-check-finish {
        margin-left: 30px;
      }
    }
    .toeic-milestone-item {
      clear: both;
      overflow: hidden;
      padding: 16px 0;
    }
    .milestone-grammar-wrapper {
      max-width: 530px;
      margin: 0 auto;
    }
    .milestone-grammar {
      float: left;
      width: 150px;
      min-height: 210px;
      margin: 0 13px;
      text-align: center;
      &.block-milestone {
        > .inner {
          padding: 33px 25px;
          > img {
            float: none;
            margin: 0;
          }
        }
        .name, .button-link {
          float: none;
          width: auto;
          margin: 0;
        }
        .name {
          margin-bottom: 16px;
          img {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
