.block-charts {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 15px 0 32px;
  position: relative;
  .flag {
    width: 60px;
    position: absolute;
    top: -4px;
    left: 15px;
    >img {
      max-width: 100%;
    }
  }
  > .inner {
    overflow: hidden;
  }
  .item-left {
    float: left;
  }
  .item-right {
    float: right;
  }
  .chart-title {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-left: 90px;
  }
  .chart-button {
    text-align: center;
    a {
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      background-color: #ff6045;
      border-radius: 5px;
      padding: 8px 17px;
      min-width: 220px;
      transition: opacity .3s linear;
      font-family: "Roboto-Medium";
      &:hover {
        opacity: .7;
      }
    }
  }
  .chart-list {
    margin-top: 30px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 26px;
      @include size(1px, 80%);
      background-color: #ebebeb;
      z-index: 1;
    }
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      li {
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
        padding: 7px 15px;
        background-color: transparent;
        transition: background-color .3s linear;
        &:hover {
          background-color: #fff;
        }
        .no {
          background-color: #404040;
        }
        &:first-child {
          .chart-item .avt {
            background-color: #ff6045;
          }
          .no {
            background-color: #ff6045;
          }
        }
        &:nth-child(2) {
          .no {
            background-color: #a4d361;
          }
        }
        &:nth-child(3) {
          .no {
            background-color: #33abe5;
          }
        }
      }
    }
  }
  .point {
    text-align: right;
    margin-top: 6px;
    span {
      font-size: 14px;
      display: block;
    }
    .user-button {
      font-size: 10px;
      color: #fff;
      background-color: #33abe5;
      min-width: 94px;
      padding: 4px 6px;
      font-family: "Roboto-Medium";
      border-radius: 5px;
    }
  }
  .chart-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    &.no {
      color: #fff;
      font-size: 14px;
      @include size(24px);
      text-align: center;
      padding: 2px 0;
      border-radius: 50%;
    }
    .avt {
      @include size(55px);
      background-color: #ebebeb;
      border-radius: 50%;
      text-align: center;
      padding-top: 2px;
      position: relative;
      > img {
        border-radius: 50%;
        border: 2px solid #fff;
        vertical-align: middle;
      }
      .status {
        position: absolute;
        bottom: 0;
        right: 0;
        > img {
          @include size(18px);
        }
      }
    }
    &.user-name {
      > span {
        display: block;
      }
    }
  }
  .btn-view-more {
    text-align: center;
    margin-top: 10px;
  }
}
