.slick-chart {
  background: #f6f6f6;
}
.slick-chart .tbl {
  display: table;
}
.slick-chart .tbl-cell {
  display: table-cell;
  vertical-align: bottom;
}
.slick-chart .item {
  text-align: center;
}
.slick-chart .item a {
  display: inline-block;
}
.slick-chart .item span {
  display: inline-block;
}
.slick-chart .item span.fill {
  max-width: 28px;
  width: 100%;
  height: 200px;
  position: relative;
}
.slick-chart .item span.fill .percent {
  background: #d5d5d5;
}
.slick-chart .item:nth-child(odd) span.fill .percent {
	background: #ebebeb;
}
.slick-chart .item:nth-child(odd).active span.fill .percent {
  background: #33abe5;
}
.slick-chart .item.active span.fill .percent {
  background: #33abe5;
}
.slick-chart .item span.percent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.slick-chart .item span.text {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2px 7px 1px 7px;
  color: #999999;
}
.slick-chart .item.active span.text{
  background: #ff6045;
  color: #fff;
  margin-bottom: 2px;
}
.slick-chart .item a .percent{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #33abe5;
}
.slick-chart .slick-prev,
.slick-chart .slick-next {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff url(../images/icon-arrow.png) no-repeat center center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.slick-chart .slick-prev.slick-disabled,
.slick-chart .slick-next.slick-disabled {
  opacity: 0.5;
}

.slick-chart .slick-prev {
  left: -15px;
  top: 100px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-chart .slick-next {
  right: -15px;
  top: 100px;
}

.slick-chart .slick-prev:before,
.slick-chart .slick-next:before {
  display: none;
}
